.Header {
  background-color: #8d9b6a;
  height: 60px;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Header h1 {
  color: #e8dfe0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8f5b34;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 25px;
}
.seedling {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.Header button img {
  width: 10px;
}

.Header button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3px;
  bottom: 3px;
  background-color: #e8dfe0;
  border: 1px solid #8f5b34;
  border-radius: 15%;
}
