.Header {
  background-color: #8d9b6a;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Header h1 {
  color: #e8dfe0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8f5b34;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 25px;
  position: absolute;
}
.seedling {
  width: 40px;
  height: 40px;
  position: relative;
  left: 200px;
}

.Header button img {
  width: 20px;
}

.Header .favoritesButton {
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3px;
  bottom: 3px;
  background-color: #e8dfe0;
  border: 1px solid #8f5b34;
  border-radius: 15%;
}

.exitButton {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  right: 0;
}

.favoritePage {
  border: 2px solid black;
  width: 380px;
  height: 450px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: rgb(220, 197, 174);
  z-index: 2;
  position: relative;
  top: 425px;
  right: 0px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  overflow: scroll;
}

.No {
  display: none;
}

img {
  width: 20%;
}

.displayImage {
  border-radius: 10%;
}

.favoritesContent {
  display: flex;
  margin: 10px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: rgb(141, 155, 106);
  margin-top: 50px;
}



.favoriteHeader {
  left: 70px;
  color: #e8dfe0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #8f5b34;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 35px;;
  position: absolute;
}

.exitButtonRecipe {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  right: 0;
}



.EachItem {
  width: 500px;
}


.EachRecipe > .wrapper {
  position: absolute;
  top: 30%;
  left: 30%;
}


.recipeTitle {
  word-wrap: break-word;
  max-width: 100%;
  color: #75654c;
  width: 75%;
  font-weight: bold;
  font-size: 20px;
}

.recipeImage {
  max-width: 300px;
}

.RecipeInfoAnother {
  background-color: rgb(220, 197, 174);
  position: absolute;
  top: 285px;
  right: 30px;
  width: 300px;
  height: 310px;
  margin-left: 115px;
  z-index: 100;
  padding: 5px;
  border-radius: 7px;
  box-shadow: grey 7px 7px 25px;
}

#recipelinkAnother {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 260px; */
  bottom: 190px;
  
}

.xbtnrecipeAnother {
  width: 50px;
}

#xbtnidAnother {
  width: 20px;
}

#xbuttonallAnother {
  position: absolute;
  left: 261px;
  top: 14px;
}

.noAnother {
  display: none;
}

li {
  list-style-type: none;
}